* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fafbff;
  color: #292d32;
  letter-spacing: -0.01em;
}

.dashboard {
  display: flex;
}

.sidebar {
  height: 100vh;
  max-width: 306px;
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.sidebar__logo {
  max-width: calc(1vh+1vw);
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.version__number {
  align-self: flex-end;
  margin-bottom: 6px;
  margin-left: 6px;
  font-weight: 500;
  font-size: 10px;
  color: #838383;
}
.sidebar__nav {
  flex-grow: 1;
}

.sidebar__list {
  list-style: none;
}

.sidebar__item {
  width: 100%;
  max-width: 250px;
  height: 46px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  transition: background-color 0.8s ease-in-out;
  border-radius: 8px;
  color: #9197b3;
  stroke: #9197b3;
  cursor: pointer;
}
.sidebar__link {
  padding-left: 14px;
}
.sidebar__item-chevron {
  margin-left: auto;
}
.sidebar__item:hover,
.sidebar__item--active {
  background-color: #5932ea;
  color: #fff;
  width: 100%;
  border-radius: 8px;
  height: 46px;
  fill: white;
  stroke: white;
}

.sidebar__user {
  max-width: 160px;
  max-height: 70px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
}

.sidebar__user-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 12px;
}

.sidebar__user-info {
  display: flex;
  flex-direction: column;
}

.sidebar__user-name {
  font-weight: 500;
  font-size: 14px;
}

.sidebar__user-role {
  font-weight: 400;
  font-size: 12px;
  color: #757575;
}

.main-content {
  flex-grow: 1;
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 40px;
}

.main-content__header {
  margin-bottom: 42px;
}
.sidebar_menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.sidebar__menu-button,
.dashboard__logo-button {
  background-color: transparent;
  border: none;
}
.sidebar__menu-button {
  display: none;
  align-items: center;
  text-align: end;
  cursor: pointer;
}
.main-content__title {
  font-weight: 500;
  font-size: 24px;
  color: #000;
}
.customers {
  /* max-width: 970px; */
  height: 812px;
  background-color: #fff;
  padding-top: 30px;
  border-radius: 30px;
  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
}
.customers__top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 60px;
}
.customers__header {
  flex-direction: column;
}

.customers__title {
  font-weight: 600;
  font-size: 22px;
  color: #000;
}

.customers__active-members {
  font-weight: 400;
  font-size: 14px;
  color: #16c098;
}
.customers__search-input {
  max-width: 216px;
  width: 100%;
  max-height: 38px;
  background-color: #f9fbff;
  font-family: "Poppins", sans-serif;
  align-items: center;
  color: #b5b7c0;
  font-size: 12px;
  background-image: url(..//images/search.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: calc(5px + 5px);
  padding: 10px;
  border-radius: 10px;
  border-color: transparent;
  padding-left: 40px;
}

.customers__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  justify-content: space-between;
  text-align: justify;
  align-items: center;
}

.customers__table-header,
.customers__table-data {
  height: 69px;
  border-bottom: 1px solid #eee;
}
.customers__table-header {
  color: #b5b7c0;
  font-weight: 500;
}
.customers__table-status {
  display: flex;
  justify-content: center;
  max-width: 80px;
  max-height: 29px;
  padding: 4px 0 ;
}

.customers__table-status--active {
  border-radius: 4px;
  border: 1px solid #00b087;
  color: #008767;
  background: rgba(22, 192, 152, 0.38);
}

.customers__table-status--inactive {
  border-radius: 4px;
  border: 1px solid #df0404;
  color: #df0404;
  background: #ffc5c5;
}
.customers__table-data:first-child,
.customers__table-data:last-child{
  border-bottom: none;
  width: 40px;
}
.customers__table-header:nth-child(7){
  text-align: center;
  padding-right: 8px;
}

.customers__pagination {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 38px;
  margin-right: 35px;
}

.customers__pagination-info {
  color: #b5b7c0;
}

.customers__pagination-controls {
  display: flex;
  max-width: 260px;
}

.customers__pagination-link {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 24px;
  color: #404b52;
  background: #f5f5f5;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}
.customers__pagination-ellipsis {
  background: transparent;
  border: none;
}
.customers__pagination-link:hover {
  background: #5932ea;
  border: none;
  color: #fff;
}
@media (max-width: 1400px) {
  .sidebar {
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .main-content {
    margin-left: 55px;
    margin-right: 55px;
  }
}
@media (max-width: 1300px) {
  .sidebar__item {
    width: auto;
  }
  .main-content {
    margin-left: 25px;
    margin-right: 25px;
  }
  .customers__table {
    font-size: 12px;
  }
}
@media (max-width: 1150px) {
  .sidebar {
    padding-left: 10px;
    padding-right: 10px;
  }
  .sidebar__item {
    width: auto;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    position: absolute;
    max-width: 1024px;
    width: 100%;
    align-items: center;
    left: 0;
    top: 0;
    padding-top: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .sidebar__item{
    width: 240px;
  }
  .sidebar.sidebar--active {
    transform: translateX(0);
  }
  .main-content {
    padding: 0;
  }
  .main-content__header {
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
  .sidebar__menu-button {
    display: block;
  }
  .main-content__title {
    text-align: end;
  }
  .customers__table {
    font-size: 14px;
  }
}
@media (max-width: 930px) {
  .main-content {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .customers{
    height: 720px;
    padding-top: 20px;
  }
  .customers__top-section {
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .customers__table-header,
  .customers__table-data {
    padding: 10px;
    font-size: 12px;
  }
  .customers__table-data:first-child,
  .customers__table-data:last-child{
    display: none;
  }
  .customers__table-header:first-child,
  .customers__table-header:last-child{
    display: none;
  }
}
@media (max-width: 768px) {
  .main-content{
    margin: 0;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 7px;
    
  }
  .customers__table-header,
  .customers__table-data {
    height: 60px;
  }
}
@media (max-width: 425px) {
  .dashboard{
    max-height: 100vh;
  }
  .main-content{
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
  }
  .main-content__title{
    font-size: 20px;
  }
  .main-content__header{
    margin: 8px;
  }
  .customers{
  padding: 0;
  padding-top: 15px;
  max-width: 425px;
  height: 650px;
  }
  .customers__top-section{
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
      }
  .customers__title{
    font-size: 14px;
  }
  .customers__active-members{
    font-size: 10px;
  }
  .customers__search-input{
    background-position: left;
    max-width: 120px;
    background-size: 12px 12px;
    padding: 4px;
    padding-left: 20px;
    font-size: 8px;
  }
  .customers__table-header,
  .customers__table-data {
    font-size: 8px;
    height: 54px;
  }
  .customers__table-status {
    margin: 0px;
    /* margin-right: 5px; */
    padding: 1px;
    font-size: 7px;
  }
  .customers__pagination{
    display: flex;
    flex-direction: column-reverse;
    
  }
  .customers__pagination-info{
    font-size: 12px;
    margin-top: 10px;
  }
  .customers__pagination-link {
    font-size: 10px;
    width: 20px;
    height: 18px;
  }
}
@media (max-width: 375px) {
  .customers__search-input{
    font-size: 7px;
  }
  .customers__table-header,
  .customers__table-data {
    font-size: 7px;
  }
 .customers__pagination-info{
    font-size: 10px;
  }
  .customers__pagination-link {
    font-size: 8px;
    width: 18px;
    height: 16px;
  }
}